# Auto detect text files and perform LF normalization
* text=auto

# Force LF for source files
*.c text eol=lf
*.h text eol=lf
*.cpp text eol=lf
*.hpp text eol=lf
*.s text eol=lf
*.S text eol=lf
*.xml text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
Makefile text eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.bmp binary
*.ico binary
*.dol binary
*.elf binary
*.a binary
*.ttf binary
*.otf binary
*.woff binary
*.woff2 binary
